@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DataProtection API:</h1>
    <p>Unprotected Data: </p>
    <p>@ViewBag.Unprotected</p>
    <hr />
    <p>Protect Data: </p>
    <p>@ViewBag.Protected</p>

</div>
